.wrapper {
  width: 100%;
}

.label {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.input {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding: 20px 15px;
  border-radius: 8px;
  border: 1px solid #8ac0e2;
}
.input[type='date'] {
  padding: 19px 15px;
}

.input::placeholder {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.input[type='date']::-webkit-datetime-edit,
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-clear-button {
  color: #fff;
  position: relative;
}

.input[type='date']::-webkit-datetime-edit-year-field {
  position: absolute !important;
  color: #000;
  left: 70px;
}

.input[type='date']::-webkit-datetime-edit-month-field {
  position: absolute !important;
  color: #000;
  left: 35px;
}

.input[type='date']::-webkit-datetime-edit-day-field {
  position: absolute !important;
  color: #000;
  left: 0;
}
