.laptopOption {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
}

.laptopOption:last-child {
  margin-bottom: 0;
}

.laptopOption.secondColumn .laptopOptionTitle {
  width: 230px;
}

.laptopOption.firstColumn .laptopOptionTitle {
  width: 300px;
}

.laptopOptionTitle {
  margin: 0;

  font-weight: 500;
  font-size: 22px;
  line-height: 27px;

  color: #2e2e2e;
}

.laptopOptionDesc {
  margin: 0;

  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  color: #797979;
}

@media (max-width: 1200px) {
  .laptopOption.secondColumn .laptopOptionTitle {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .laptopOption.secondColumn .laptopOptionTitle,
  .laptopOption.firstColumn .laptopOptionTitle {
    width: 230px;
  }

  .laptopOptionTitle {
    font-size: 18px;
  }
  .laptopOptionDesc {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .laptopOption {
    margin-bottom: 0;
  }
  .laptopOption.secondColumn .laptopOptionTitle,
  .laptopOption.firstColumn .laptopOptionTitle {
    width: 187px;
  }

  .laptopOptionTitle {
    font-size: 14px;
    line-height: 25px;
  }
  .laptopOptionDesc {
    font-size: 14px;
    line-height: 25px;
  }
}
