.wrapper {
  width: 100%;
}

.title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  margin: 0 0 25px;
}

.list {
  display: flex;
  gap: 60px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 18px;
}

.label {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.input {
  width: 20px;
  height: 20px;
  accent-color: #4d9ac3;
}

.alert .title {
  color: #e52f2f;

  display: flex;
  align-items: center;
  gap: 15px;
}

.alert .title img {
  width: 22px;
  height: 20px;
}
