.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 45px;
  &__container {
    width: 1226px;
    padding: 45px 174px;
    background-color: #fff;
  }
  &__logo {
    margin-top: 67px;
  }
  &__two-elems {
    display: flex;
    gap: 63px;
  }
}

.form__header {
  & {
    display: flex;
    justify-content: center;
    padding: 0 15px 40px;
  }
  &-steps {
    position: relative;
    display: flex;
    gap: 65px;
    &::after {
      content: '';
      position: absolute;
      bottom: -15px;
      width: 40%;
      height: 2px;
      background-color: #000;
      transition: all 0.5s ease-in-out;
    }
    &.one::after {
      width: 30%;
      left: 20px;
    }
    &.two::after {
      left: calc(50% + 30px);
    }
  }
  &-step {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }
}

.invalid + p {
  color: #e52f2f;
}

.coworker-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__top {
    margin-top: 50px;
  }
  &__btn {
    align-self: flex-end;
    width: 175px;
    @include regular-btn;
  }
}

.laptop {
  &-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &-model {
    align-items: center;
  }
  &-section__break {
    height: 1px;
    width: 100%;
    background: #c7c7c7;
  }
  &-cpu {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &-info__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-info__prev-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;

    color: #62a1eb;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
  &-info__submit-btn {
    @include regular-btn;
    width: 220px;
  }
}
.file-drop {
  position: relative;

  width: 100%;
  height: 425px;
  background: #f7f7f7;

  // border: 2px dashed #4386a9;
  clip-path: inset(0 round 11px 11px 11px 11px);
  // border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 65px;

  .imgInputAlert {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    left: -7px;
    top: -7px;
    right: -7px;
    bottom: -7px;
    border: 9px dashed #4386a9;
    border-radius: 18px;
    box-sizing: border-box;
  }
  &.dragover {
    background-color: darken(#f7f7f7, 5);
  }
  &.alert {
    background-color: #fff1f1;
    gap: 20px;
    &::before {
      border: 9px dashed #e52f2f;
    }
    .imgInputAlert {
      display: block;
      width: 38px;
      height: 34px;
    }
    p {
      color: #e52f2f;
      margin-bottom: 45px;
    }
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: #4386a9;
    width: 195px;
  }
  label {
    @include regular-btn;
    z-index: 1;
    input {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  &__img {
    width: 101%;
    height: 101%;
    object-fit: cover;
    border-radius: 18px;
  }

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;

    border-radius: 18px;
    background-color: #000;
    cursor: pointer;

    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &:hover {
      background-color: #000;
      opacity: 0.7;
    }
  }
}

.success__popup {
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 265px 45px;
  &-wrapper {
    background: #4a4a4a;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-title {
    margin: 0 0 80px;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;

    color: #292929;
  }
  &-listLink {
    @include regular-btn;
    width: 300px;
    margin-bottom: 20px;
  }
  &-landingLink {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0089a7;
    padding: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}
