.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 45px;
  &__container {
    width: 1226px;
    padding: 45px 174px;
    background-color: #fff;
  }
  &__logo {
    margin-top: 67px;
    width: 85px;
    height: 85px;
  }
  &__two-elems {
    display: flex;
    gap: 63px;
  }
}

.form__header {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 15px 25px;
  }
  &-steps {
    position: relative;
    display: flex;
    gap: 65px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 40%;
      height: 2px;
      background-color: #000;
      transition: all 0.5s ease-in-out;
    }
    &.one::after {
      width: 30%;
      left: 30px;
    }
    &.two::after {
      left: calc(50% + 30px);
    }
  }
  &-step {
    font-size: 20px;
    line-height: 24px;
    color: #232323;
    font-weight: 700;

    border: 0;
    background-color: transparent;

    padding: 15px;
    margin: 0;

    cursor: pointer;
  }
}

.step__counter {
  display: none;
  margin: 0;
  color: #898989;
  font-size: 16px;
  line-height: 19px;
}

.coworker-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__top {
    margin-top: 50px;
  }
  &__btn {
    align-self: flex-end;
    width: 175px;
    @include regular-btn;
  }
}

.laptop {
  &-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &-model {
    align-items: center;
  }
  &-section__break {
    height: 1px;
    width: 100%;
    background: #c7c7c7;
  }
  &-cpu {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &-info__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-info__prev-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;

    color: #62a1eb;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
  &-info__submit-btn {
    @include regular-btn;
    width: 220px;
  }
}
.file-drop {
  text-align: center;

  position: relative;

  width: 100%;
  height: 425px;
  background: #f7f7f7;

  // border: 2px dashed #4386a9;
  clip-path: inset(0 round 11px 11px 11px 11px);
  // border-radius: 18px;

  .bigScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
  }

  .smallScreen {
    display: none;
    height: 100%;
  }

  .imgInputAlert {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    left: -7px;
    top: -7px;
    right: -7px;
    bottom: -7px;
    border: 9px dashed #4386a9;
    border-radius: 18px;
    box-sizing: border-box;
  }
  &.dragover {
    background-color: darken(#f7f7f7, 5);
  }
  &.alert {
    background-color: #fff1f1;
    gap: 20px;
    &::before {
      border: 9px dashed #e52f2f;
    }
    .imgInputAlert {
      display: block;
      width: 38px;
      height: 34px;
    }
    .smallScreen .imgInputAlert {
      display: block;
      margin: 0;
    }
    p {
      color: #e52f2f;
      margin-bottom: 45px;
    }
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: #4386a9;
    max-width: 195px;
  }
  .bigScreen label {
    @include regular-btn;
    z-index: 1;
    width: 233px;
    input {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  .smallScreen label {
    z-index: 2;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 60px;
      height: auto;

      margin-bottom: 30px;
    }

    p {
      margin: 0 0 12px;
    }

    input {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  &__uploaded {
    .file-drop::before {
      display: none;
    }
  }
  &__img {
    width: 101%;
    height: 101%;
    object-fit: cover;
    border-radius: 18px;
  }
  &__img-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    label {
      @include regular-btn;
      width: 233px;
      z-index: 1;
      input {
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
  }
  &__img-stats {
    display: flex;
    align-items: center;
    img {
      width: 22px;
      height: 22px;

      margin-right: 25px;
    }
  }
  &__img-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 10ch;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #202020;

    margin: 0 22px 0 0;
  }
  &__img-size {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #5f5f5f;

    margin: 0;
  }
}

.success__popup {
  background: #fff;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 35px 265px 45px;
  &-wrapper {
    background: #4a4a4a;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  &-title {
    margin: 0 0 80px;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;

    color: #292929;
  }
  &-listLink {
    @include regular-btn;
    width: 300px;
    margin-bottom: 20px;
  }
  &-landingLink {
    border: 0;
    background: transparent;
    padding: 10px;

    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0089a7;

    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
