.laptop {
  padding: 75px 0 145px;
  .container {
    max-width: 1218px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 21px;
    text-align: center;

    margin: 0 0 95px;
  }
  &__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 68px;
    align-items: center;
  }
  &__stats-rowBorder {
    border-top: 1px solid #c7c7c7;
    grid-column: 1 / 3;
  }
  &__img {
    width: 577px;
    height: 342px;
    object-fit: cover;
  }
}

.laptops {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0;
    margin: 0;
  }
  &__item {
    background: #eafaff;
    padding: 14px;

    border: 1px solid #aed1ea;
    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 28px;
  }
  &__item-img {
    width: 266px;
    height: 178px;
    object-fit: cover;

    border-radius: 10px;
  }
  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__item-userName {
    margin: 0 0 18px;

    color: #2e2e2e;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  &__item-laptopName {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2e2e2e;

    margin: 0 0 40px;
  }
  &__item-link {
    color: #4386a9;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
}
