@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'),
    url('../fonts/HelveticaNeue-300.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'),
    url('../fonts/HelveticaNeue-400.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'),
    url('../fonts/HelveticaNeue-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'),
    url('../fonts/HelveticaNeue-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
