@import 'normalize.css';
@import 'variables.scss';
@import 'pages/landing.scss';
@import 'pages/form.scss';
@import 'pages/laptop.scss';

// connecting font family
@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'),
    url('../fonts/HelveticaNeue.ttc') format('truetype');
  font-synthesis: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

// removing arrows from input numberp
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

body {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  margin: 0;
  background-color: #f7f7f7;
}

.App {
  min-height: 100vh;
}

.back-btn {
  position: absolute;
  top: 53px;
  left: 70px;
  background-color: #d9d9d9;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: darken(#d9d9d9, 5);
  }
  img {
    width: 9px;
    height: 16px;
  }
}

@import 'media.scss';
