@import 'normalize.css';
@import 'variables.scss';
@import 'pages/landing.scss';
@import 'pages/form.scss';
@import 'pages/laptop.scss';
// connecting font family
@import 'fonts.scss';

* {
  box-sizing: border-box;
}

// removing arrows from input numberp
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

body {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  margin: 0;
  background-color: #f7f7f7;
}

.App {
  min-height: 100vh;
}

.serverError {
  position: fixed;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 360px;
  height: 50px;
  background: white;
  z-index: 1;
}

@import 'media.scss';
