@media (max-width: 1336px) {
  .form__container {
    width: 920px;
    padding: 40px 100px;
  }
  .coworker-info__top {
    margin-top: 0;
  }
  .laptop__stats {
    gap: 50px;
  }
}

@media (max-width: 1200px) {
  .laptops__item {
    &-img {
      width: 215px;
      height: 140px;
    }
    &-userName {
      margin-bottom: 10px;
    }
    &-laptopName {
      margin-bottom: 20px;
    }
  }
  .laptop {
    &__stats {
      grid-template-columns: 1fr;
    }
    &__img {
      width: 100%;
      height: auto;
      aspect-ratio: 17/9;
    }
    &__stats-rowBorder {
      grid-column: 1/2;
    }
    &__cpu,
    &__purchase {
      margin-top: -25px;
    }
  }
}

@media (max-width: 992px) {
  .back-btn {
    top: 35px;
    left: 20px;
    background-color: transparent;
  }

  .form {
    padding: 45px 0 0;
    &__header-steps::after {
      display: none;
    }
    &__header-step {
      display: none;
      padding: 0;
    }
    &__header-steps.one .first {
      display: block;
    }
    &__header-steps.two .second {
      display: block;
    }
    &__container {
      padding: 40px 50px 50px;
      width: 100%;
    }
    &__logo {
      display: none;
    }
  }
  .success__popup {
    padding: 35px 100px 45px;
  }
  .step__counter {
    display: block;
  }
  .laptop {
    padding: 50px 0 50px;
    &-section__break {
      height: 10px;
      margin: 0 -50px;
      width: auto;
      background: #f7f7f7;
    }
    &__title {
      margin-bottom: 75px;
      font-size: 28px;
    }
  }
  .laptops__list {
    gap: 25px;
  }
  .laptops__item {
    gap: 15px;
    &-img {
      width: 164px;
      height: 109px;
    }
    &-userName {
      margin-bottom: 8px;
      font-size: 14px;
    }
    &-laptopName {
      margin-bottom: 11px;
    }
    &-link {
      font-size: 14px;
    }
  }
}

@media (max-width: 810px) {
  .landing-logo {
    margin-bottom: 117px;
  }
  .landing-img {
    width: 270px;
    height: 350px;
  }
  .coworker-info {
    gap: 25px;
  }
  .form__two-elems {
    flex-wrap: wrap;
    gap: 25px;
  }
  .laptop-cpu {
    flex-wrap: wrap;
    gap: 25px;
  }
  .file-drop {
    height: 300px;
  }
  .bigScreen {
    gap: 20px;
  }
  .file-drop.alert p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .file-drop {
    &::before {
      z-index: -1;
    }
    .bigScreen {
      display: none;
    }
    .smallScreen {
      display: block;
    }
    &__img-stats {
      display: grid;
      grid-template-areas: 'img name' 'img size';
      img {
        grid-area: img;
        margin-right: 10px;
      }
    }
    &__img-name {
      grid-area: name;
      margin-right: 0;
    }
    &__img-size {
      grid-area: size;
    }
    &__img-options label {
      width: auto;
      padding: 12px 10px;
    }
  }
  .laptops {
    &__list {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    &__item {
      gap: 28px;
    }
    &__item-img {
      width: 266px;
    }
    &__item-userName {
      font-size: 18px;
      margin-bottom: 18px;
    }
    &__item-laptopName {
      margin-bottom: 40px;
    }
    &__item-link {
      font-size: 16px;
    }
  }
}

@media (max-width: 600px) {
  .success__popup {
    padding: 165px 15px 70px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    &-title {
      font-size: 22px;
      line-height: 40px;
      text-align: center;

      margin-bottom: 0;
      max-width: 250px;
    }
    &-listLink {
      margin-top: auto;
      margin-bottom: 0;
    }
    &-landingLink {
      margin-top: 30px;
    }
  }

  .laptops__item {
    gap: 15px;
    &-img {
      width: 215px;
      height: 140px;
    }
  }
}

@media (max-width: 500px) {
  .landing-links {
    width: 100%;
  }
  .landing-link {
    width: 100%;
  }

  .back-btn {
    padding: 5px;

    width: auto;
    height: auto;

    top: 30px;
    left: 15px;
  }

  .form {
    padding: 30px 0 0;
    &__header {
      padding: 0 15px 10px;
    }
    &__header-step {
      font-size: 16px;
      line-height: 20px;
    }
    &__container {
      padding: 40px 15px 60px;
    }
  }
  .file-drop {
    height: 245px;
    .smallScreen label {
      img {
        width: 45px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
      }
      .imgInputAlert {
        width: 23px;
        height: 21px;
      }
    }
    &__img-name {
      font-size: 12px;
      line-height: 14px;
    }
    &__img-size {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .file-drop__img-options label,
  .coworker-info__btn,
  .laptop-info__submit-btn {
    font-size: 18px;
    line-height: 22px;
    padding: 12px 10px;
  }

  .step__counter {
    font-size: 14px;
    line-height: 17px;
  }

  .laptops {
    &__list {
      gap: 25px;
    }
    &__item-img {
      width: 164px;
    }
    &__item-userName {
      font-size: 14px;
      margin-bottom: 8px;
    }
    &__item-laptopName {
      margin-bottom: 11px;
    }
    &__item-link {
      font-size: 14px;
    }
  }

  .laptop {
    padding-top: 35px;
    &__title {
      font-size: 20px;
      margin-bottom: 30px;
    }
    &__stats {
      gap: 30px;
    }
    &__purchase {
      margin-top: -30px;
    }
  }
}
