@media (max-width: 810px) {
  .landing-logo {
    margin-bottom: 117px;
  }
  .landing-img {
    width: 270px;
  }
}

@media (max-width: 500px) {
  .landing-links {
    width: 100%;
  }
  .landing-link {
    width: 100%;
  }
}
