.wrapper {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding: 20px 15px;
  border-radius: 8px;
  border: 1.8px solid #8ac0e2;
}

.input:focus {
  background: rgba(43, 75, 242, 0.06);
  outline-color: #6499ff;
  outline-width: thin;
  border: 0;
  padding: 22px 15px;
}

.input:invalid:not(:focus):not(:placeholder-shown) {
  border: 1.8px solid #e52f2f;
}

.input::placeholder {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.img {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);

  width: 18px;
  height: 21px;
}
